.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.footer__top {
    height: 100%;
    width: 100%;
}

.footer__wave {
    position: static;
    height: 100%;
    width: 100%;
    transform: translateY(.3125rem);
}

.footer__wave__fill {
    fill: rgba(17, 34, 64, 0.700);
    fill-opacity: 1;
}

.footer__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    transition: var(--transition-text);
    background-color: rgba(17, 34, 64, 0.700);
}

.socials i {
    font-size: 1.8rem;
    margin: 0 1.0625rem 0 1.0625rem;
    cursor: pointer;
    transition: var(--transition-text);
}

.socials .fa-brands.fa-github:hover,
.socials .fa-brands.fa-linkedin:hover,
.socials .fa-brands.fa-codepen:hover {
    color: var(--color-light-blue);
}

.socials .fa-brands.fa-github,
.socials .fa-brands.fa-linkedin,
.socials .fa-brands.fa-codepen {
    color: var(--color-white);
    text-shadow: 0 0 5px var(--box-shadow-light);
}

.footer__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 0  0 1.875rem 0;
    color: var(--color-white);
    background-color: rgba(17, 34, 64, 0.700);
}

