.header {
  position: fixed;
  z-index: 9999;
  margin: auto;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: var(--transition-box);
}

.show__header {
  height: 90px;
  background-color: rgba(10, 25, 47, 0.884);
  box-shadow: 0 10px 30px -10px var(--box-shadow-dark);
  backdrop-filter: blur(10px);
}

.hide__header {
  transform: translateY(-100px);
}

.header__content {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo::after {
  content: '>';
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-light-blue);
  padding: 0 0 0 20px;
}

.logo::before {
  content: '<';
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-light-blue);
  padding: 0 20px 0 0;
}

.logo__img {
  cursor: pointer;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 20px var(--color-gray);
  transition: var(--transition-box);
}

.logo__img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px var(--color-light-blue);
}

.menu__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.menu__link {
  font-size: .95em;
  font-weight: bold;
  text-transform: lowercase;
  padding: 10px 0;
  cursor: pointer;
  margin-left: 50px;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition-text);
  color: var(--color-white);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.25s;
  text-shadow: 0 0 1px rgba(255, 255, 255, .50);
  background-image: linear-gradient(var(--color-light-blue),
                                    var(--color-light-blue));
}

.menu__link::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  position: relative;
  background-color: var(--color-white);
  transition: var(--transition-text);
  opacity: 0.5;
}

.menu__link:hover,
.menu__link:focus {
  color: var(--color-light-blue);
  background-size: 100% 2px;
  border-radius: 1.5px;
}