@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --main-color: #0a192f;
  --main-color-second: #132135;
  --main-color-lightes: #3addd2;
  --color-white: #f4f4f4;
  --color-gray: #a1a1a1;
  --color-white-tittles: #e8e8e8;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-color);
  font-size: 16px;
}

.header {
  margin: auto;
  width: 90%;
  min-height: 140px;
  padding: 50px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo::after{
  content: '>';
  font-size: 1.5em;
  font-weight: bold;
  color: var(--main-color-lightes);
  padding: 0 0 0 20px;
}

.logo::before{
  content: '<';
  font-size: 1.5em;
  font-weight: bold;
  color: var(--main-color-lightes);
  padding: 0 20px 0 0;
}

.logo__img{
  cursor: pointer;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 20px var(--color-gray);
  transition: .3s ease all;
}

.logo__img:hover{
  transform: scale(1.03);
  box-shadow: 0 0 20px var(--main-color-lightes);
}

.menu__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.menu__link {
  font-size: 1.05em;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  margin-left: 40px;
  text-decoration: none;
  transition: .3s ease all;
  color: var(--color-white);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  transition: background-size .4s;
  text-shadow: 0 0 5px rgba(255, 255, 255, .50);
  background-image: linear-gradient(var(--main-color-lightes), 
                                    var(--main-color-lightes));
}

.menu__link:hover,
.menu__link:focus{
  color: var(--main-color-lightes);
  background-size: 100% 3px;
  border-radius: 1.5px;
}


.main__particles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.main {
  margin: auto;
  width: 100%;
  min-height: 100vh;
}

.home {
  margin: auto;
  height: 100%;
  padding-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.presentation {
  margin-right: 10px;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.presentation__name {
  text-transform: uppercase;
  text-shadow: 0 0 15px rgba(255, 255, 255, .50);
  font-size: clamp(20px, 10vw, 60px);
  color: var(--color-white-tittles);
}

.presentation__tittle {
  margin: 10px 0 20px 0;
  font-size: 2em;
  font-weight: bold;
  color: var(--main-color-lightes);
}

.presentation__description {
  font-size: 1.5em;
  text-align: justify;
  color: var(--color-gray);
}

.presentation__button{
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 30px;
  max-width: 150px;
  height: 50px;
  border: 2px solid var(--main-color-lightes);
  border-radius: 20px;
  background-color: var(--main-color);
  color: var(--color-gray);
  cursor: pointer;
  transition: .3s ease all;
}

.presentation__button:hover{
  border: none;
  background-color: var(--color-white);
  color: var(--main-color);
  box-shadow: 0 0 20px var(--color-gray);
}

/* .picture{
  filter: blur(180px);
} */

.picture__img {
  height: 600px;
}

.wave {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  top: 10px;  
}

.wave__particles {
  z-index: -99;
}

.wave__content {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.wave__svg {
  width: 300%;
  height: 500px;
  position: absolute;
  top: 100px;
  transform: rotate(180deg);
  background-image: url(./../img/body/wd1.svg);
  background-color: transparent;
}

.wave__svg--animation{
  animation: wave-animation 7s linear infinite;
}

@keyframes wave-animation {
  0%{
      margin-left: 0;
  }
  100%{
      margin-left: -1600px;
  }
}

.about {
  width: 100%;
  margin: auto;
  min-height: 700px;
  z-index: 99;
  background-color: var(--main-color-second);
}

.profile {
  padding: 100px 50px;
  z-index: 99;
}


