.about {
  margin-top: 18.75rem;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.about__content {
  width: 100%;
  height: 100%;
}

.about__wave {
  transform: rotate(180deg);
  width: 300%;
  height: 198px;
  position: absolute;
  left: 0;
  top: .3125rem;
  background-image: url(../../img/svg/wave/wave.svg);
}

.wave--footer {
  left: 0;
  bottom: .3125rem;
  width: 300%;
  height: 198px;
  position: absolute;
  background-image: url(../../img/svg/wave/wave.svg);
}

.wave--animation {
  animation: wave-margin 7s linear infinite;
}

@keyframes wave-margin {
  0% {
      margin-left: 0;
  }
  100% {
      margin-left: -1600px;
  }
}

.profile {
  margin: 198px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  background-color: var(--main-color-second);
}

.profile__photo {
  width: 21.875rem;
  border: 5px solid var(--color-light-gray);
  border-radius: 200px;
  box-shadow: 0 0 15px var(--color-light-gray);
  background-color: var(--main-color-second);
  transform: scale(1);
}

.profile__description {
  max-width: 50rem;
  padding:  2.5rem;
}

.profile__tittle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: .625rem;
  text-transform: lowercase;
  color: var(--color-light-blue);
}

.profile__tittle::before {
  content: '<';
  font-size: 1.5rem;
  padding: 0 .625rem;
  color: var(--color-light-blue);
}

.profile__tittle::after {
  content: '/>';
  font-size: 1.5rem;
  padding: 0 .625rem;
  color: var(--color-light-blue);
}

.profile__text {
  font-size: 1.3rem;
  text-align: justify;
  color: var(--color-gray);
  padding: .625rem 0;
}

.profile__firma {
  margin-top: .625rem;
  width: 14.5625rem;
  transform: rotate(-5deg);
}

@media screen and (max-width:1024px)  {
  .profile {
    flex-direction: column;
  }
  .profile__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width:768px)  {
  .about__wave,
  .wave--footer {
    width: 600%;
  }
  .profile__description {
    padding: 1.25rem;
  }
}


