.about {
  width: 100%;
  height: 100%;
  margin: auto;
  min-height: 400px;
  background-color: var(--main-color-second);
}

.profile {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo__marco { /* deprecaried */
  position: relative;
  height: 320px;
  width: 320px;
  padding: 50px;
  border-radius: 160px;
  border: 7px solid var(--color-light-blue);
  position: relative;
  z-index: 98;
  background: transparent;
}

.profile__photo {
  width: 350px;
  border: 5px solid var(--color-light-gray);
  border-radius: 200px;
  box-shadow: 0 0 15px var(--color-light-gray);
  background-color: var(--main-color-second);
  /* position: relative; para el marco*/
  transform: scale(1);
  /* z-index: -1; para el marco*/ 
  /* top: -335px para el marco;
  left: -15.5px; para el marco*/
}


.profile__description {
  max-width: 800px;
  padding: 40px;
}

.profile__tittle {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: lowercase;
  color: var(--color-light-blue);
}

.profile__tittle::before {
  content: '<';
  font-size: 1em;
  padding: 0 10px;
  color: var(--color-light-blue);
}

.profile__tittle::after {
  content: '/>';
  font-size: 1em;
  padding: 0 10px;
  color: var(--color-light-blue);
}

.profile__text {
  font-size: 1.3em;
  text-align: justify;
  color: var(--color-gray);
  padding: 10px 0;
}

.profile__firma {
  margin-top: 10px;
  width: 233px;
  transform: rotate(-5deg);
}