.about {
  width: 100%;
  height: 100%;
  margin: 12.5rem 0 9.375rem 0;
  position: relative;
  z-index: -99;
  background-color: transparent;
}

.profile {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.profile__content {
  width: 100%;
  min-height: 25rem;
  padding: .625rem 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .9;
  background-color: var(--main-color-second);
}

.profile__photo {
  width: 21.875rem;
  border: 5px solid var(--color-light-gray);
  border-radius: 200px;
  box-shadow: 0 0 15px var(--color-light-gray);
  background-color: var(--main-color-second);
  transform: scale(1);
}

.profile__description {
  max-width: 50rem;
  padding:  2.5rem;
}

.profile__tittle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: .625rem;
  text-transform: lowercase;
  color: var(--color-light-blue);
}

.profile__tittle::before {
  content: '<';
  font-size: 1.5rem;
  padding: 0 .625rem;
  color: var(--color-light-blue);
}

.profile__tittle::after {
  content: '/>';
  font-size: 1.5rem;
  padding: 0 .625rem;
  color: var(--color-light-blue);
}

.profile__text {
  font-size: 1.3rem;
  text-align: justify;
  color: var(--color-gray);
  padding: .625rem 0;
}

.profile__firma {
  margin-top: .625rem;
  width: 14.5625rem;
  transform: rotate(-5deg);
}



@media screen and (max-width:1220px)  {
  .profile__photo {
    width: 18.75rem;
  }
  .profile__content {
    padding: 1rem 3rem;
  }
  .wave {
    top: -160px;
  }
  .wave--footer {
    top: 700px;
  }
}

@media screen and (max-width:980px)  {
  .profile__content {
    padding: 1.5rem 1rem;
    flex-direction: column;
    justify-content: center;
  }
  .profile__description {
    padding-top: 0rem;
  }
  .wave {
    top: -280px;
  }
  .wave--footer {
    top: 800px;
  }
  .wave__svg {
    width: 400%;
  }
}

@media screen and (max-width:768px)  {
  .profile__content {
    padding: 1.5rem 1rem;
  }
  .profile__description {
    padding-top: 2rem;
  }
  .wave {
    top: -310px;
  }
  .wave--footer {
    top: 850px;
  }
  .wave__svg {
    width: 400%;
  }
}

@media screen and (max-width:480px)  {
  .profile__content {
    padding: 1.5rem .5rem;
  }
  .profile__description {
    padding-top: 1.5rem;
  }
  .wave {
    top: -350px;
  }
  .wave--footer {
    top: 950px;
  }
  .wave__svg {
    width: 600%;
  }
}

@media screen and (max-height:920px) {
  .profile__content {
    margin-top: 250px;
  }
  .about {
    margin-bottom: 500px;
  }
  .wave--footer {
    top: 1000px;
  }
}

@media screen and (max-height:760px) {
  .wave--footer {
    top: 850px;
  }
}

@media screen and (max-device-width: 916px) and (orientation : landscape){
  .profile__content {
    margin-top: 620px;
  }

  .about {
    margin-bottom: 800px;
  }
}