.blob {
  position: absolute;
  transform: scale(1.1);
  left: -140px;
  top: -30px;
  z-index: -1;
}

.blob__two {
  position: absolute;
  right: -450px;
  top: 320px;
  z-index: -1;
  transform: rotate(180deg);
  transform: scale(1.1);
}

.blob__fill {
  fill: var(--main-color-second);
  opacity: .6;
}