.education {
  min-height: 100%;
  width: 100%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.education__tittle {
  font-size: 1.8em;
  font-weight: bold;
  margin: 80px 0 50px 0;
  text-transform: lowercase;
  text-align: center;
  color: var(--color-light-blue);
}

.education__tittle::before {
  content: '<';
  font-size: 1em;
  padding: 0 10px;
  color: var(--color-light-blue);
}

.education__tittle::after {
  content: '/>';
  font-size: 1em;
  padding: 0 10px;
  color: var(--color-light-blue);
}

.certificates {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-second);
  box-shadow: 0 0 10px var(--box-shadow-dark);
  border-radius: var(--border-radius);
  padding: 30px;
}

.certificate {
  margin: 20px;
  min-height: 300px;
  max-height: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificate__logo {
  height: 200px;
  max-width: 200px;
  object-fit: contain;
}

.certificate__tittle {
  padding: 10px 0;
  max-width: 280px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: lowercase;
  color: var(--color-light-gray);
}

.certificate__status {
  font-size: 1em;
  text-align: justify;
  color: var(--color-gray);
  padding-bottom: 10px;
}