.education {
  min-height: 100vh;
  width: 100%;
  padding: 3.125rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.education__tittle {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 5rem 0 3.125rem 0;
  text-transform: lowercase;
  text-align: center;
  color: var(--color-light-blue);
}

.education__tittle::before {
  content: '<';
  font-size: 1.5rem;
  padding: 0 .625rem;
  color: var(--color-light-blue);
}

.education__tittle::after {
  content: '/>';
  font-size: 1.5rem;
  padding: 0 .625rem;
  color: var(--color-light-blue);
}

.certificates {
  margin: auto;
  max-width: 75rem;
  min-height: 21.875rem;
  padding: 1.875rem;
  opacity: .9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-second);
  box-shadow: 0 0 10px var(--box-shadow-dark);
  border-radius: var(--border-radius);
}

.certificate {
  margin: 1.25rem;
  min-height: 18.75rem;
  max-height: 18.75rem;
  max-width: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificate__logo {
  border-radius: 200px;
  box-shadow: 0 0 20px var(--box-shadow-dark);
  max-width: 12.5rem;
  margin-bottom: .625rem;
  border-radius: 6.25rem;
  opacity: .95;
  /* object-fit: contain; */
}

.certificate__tittle {
  padding: .625rem 0;
  max-width: 17.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  text-shadow: var(--text-shadow);
  color: var(--color-light-gray);
}

.certificate__status {
  font-size: .8rem;
  text-align: justify;
  color: var(--color-gray);
  padding-bottom: .625rem;
}