.home {
  margin: auto;
  height: 100%;
  padding-top: 12.5rem;
  padding-right: 3rem;
  padding-left: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.presentation {
  width: 43.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.presentation__name {
  display: block;
  text-transform: uppercase;
  text-shadow: 0 0 15px rgba(255, 255, 255, .50);
  font-size: clamp(42px, 4vw, 60px);
  color: var(--color-light-white);
}

.presentation__tittle {
  display: block;
  margin: 8px 0 16px 0;
  font-size: clamp(26px, 3vw, 34px);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-light-blue);
}

.presentation__description {
  font-size: 1.3rem;
  text-align: justify;
  color: var(--color-gray);
}

.presentation__button {
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 1.875rem;
  max-width: 9.375rem;
  padding: .75rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border: 2px solid var(--color-light-blue);
  border-radius: var(--border-radius);
  background-color: var(--main-color);
  color: var(--color-light-gray);
  transition: var(--transition-box);
}

.presentation__button:hover {
  border: none;
  background-color: var(--color-white);
  border: 2px solid var(--color-white);
  color: var(--main-color);
  box-shadow: 0 0 20px var(--color-gray);
}

.picture {
  transform: translateX(-50px);
}

.picture__img {
  height: 37.5rem;
}

@media screen and (max-width:1440px)  {
  .home {
    padding-left: 4.5rem;
    padding-right: 0rem;
  }
  .picture {
    transform: translateX(-80px);
  }
  .picture__img {
    height: 30.625rem;
  }
  .presentation {
    width: 37.5rem;
  }
}

@media screen and (max-width:1220px)  {
  .home {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .picture__img {
    display: none;
  }
  .presentation {
    width: 46.875rem;
    align-items: center;
    padding: 0 4rem;
  }
  .presentation__button {
    width: 21.875rem;
  }
}

@media screen and (max-width:768px)  {
  .presentation {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .presentation__name {
    font-size: 2.4rem;
  }
  .presentation__tittle {
    font-size: 1.4rem;
  }
}

@media screen and (max-width:620px)  {
  .presentation {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .presentation__name {
    font-size: 2.2rem;
  }
  .presentation__tittle {
    font-size: 1.3rem;
  }
}

@media screen and (max-width:520px)  {
  .presentation {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .presentation__name {
    font-size: 2rem;
  }
  .presentation__tittle {
    font-size: 1.2rem;
  }
}

@media screen and (max-width:400px)  {
  .presentation {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .presentation__name {
    font-size: 1.9rem;
  }
  .presentation__tittle {
    font-size: 1.2rem;
  }
}

