.more__projects {
  margin: auto;
  width: 100%;
  padding: 3.125rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.more__projects__tittle {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 5rem 0 3.125rem 0;
  text-transform: lowercase;
  text-align: center;
  color: var(--color-light-blue);
}

.more__projects__tittle::before {
  content: '<';
  font-size: 1.5rem;
  padding: 0 .625rem;
  color: var(--color-light-blue);
}

.more__projects__tittle::after {
  content: '/>';
  font-size: 1.5rem;
  padding: 0 .625rem;
  color: var(--color-light-blue);
}

.other {
  width: 70%;
  padding: 0 0 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.other__content {
  min-height: 20rem;
  max-height: 20rem;
  max-width: 20rem;
  padding: 1.25rem;
  margin: .9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  justify-self: flex-start;
  position: relative;
  border-radius: var(--border-radius);
  background-color: var(--main-color-second);
  transition: var(--transition-text);
}

.other__tittle {
  margin: .9375rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}

.other__tittle .other__link {
  text-decoration: none;
  text-shadow: var(--text-shadow);
  color: var(--color-light-gray);
  transition: var(--transition-text);
}

.other__tittle .other__link:hover {
  color: var(--color-light-blue);
  text-shadow: none;
}

.other__tittle .other__link::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0rem;
  left: 0rem;
}

.other__content:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px var(--box-shadow-dark);
}

.other__description {
  font-size: 1rem;
  text-align: justify;
  color: var(--color-gray);
  padding-bottom: .9375rem;
}

.other__skills {
  font-size: .9rem;
  color: var(--color-gray);
  padding-bottom: .9375rem;
}

.other__icons {
  max-width: min-content;
  display: flex;
  flex-direction: row;
  z-index: 0;
}

.other__icons i {
  font-size: 1.2rem;
  margin-right: .625rem;
  color: var(--color-gray);
  transition: var(--transition-text);
}

.other__icons i:hover {
  color: var(--color-light-blue);
}


@media screen and (max-width:1440px)  {
  .other {
    margin: auto;
    width: 80%;
  }
}

@media screen and (max-width:1220px)  {
  .other {
    width: 90%;
  }
}

@media screen and (max-width:780px)  {
  .other__content {
    max-width: 24rem;
    max-height: 10rem;
  }
}
