.projects {
  padding: 3.125rem 0 3.125rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.projects__tittle {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 5rem 0 3.125rem 0;
  text-transform: lowercase;
  text-align: center;
  color: var(--color-light-blue);
}

.projects__tittle::before {
  content: '<';
  font-size: 1.5rem;
  padding: 0 .625rem;
  color: var(--color-light-blue);
}

.projects__tittle::after {
  content: '/>';
  font-size: 1.5rem;
  padding: 0 .625rem;
  color: var(--color-light-blue);
}

.projects__content {
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project {
  margin: 5rem 35px;
  max-width: 40rem;
  min-height: auto;
  padding: 1.25rem;
  z-index: 1;
  border-radius: var(--border-radius);
  background-color: var(--main-color-second);
  box-shadow: 0 0 10px var(--box-shadow-dark);
}

.project__img {
  height: 23.75rem;
  width: 37.5rem;
  object-fit: fill;
  opacity: .75;
  border-radius: var(--border-radius);
  transition: var(--transition-text);
}

.project__img:hover {
  opacity: .85;
  transform: scale(1.01);
}

.project__tittle {
  margin: .9375rem 0;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  color: var(--color-light-blue);
}

.project__text {
  font-size: 1.1rem;
  text-align: justify;
  color: var(--color-light-gray);
  padding-bottom: .625rem;
}

.project__skills {
  font-size: 1rem;
  text-align: justify;
  color: var(--color-gray);
  padding-bottom: .625rem;
}

.project__icons {
  display: flex;
  flex-direction: row;
}

.project__icons i {
  font-size: 1.3rem;
  margin-right: .625rem;
  color: var(--color-gray);
  transition: var(--transition-text);
}

.project__icons i:hover {
  color: var(--color-light-blue);
}


@media screen and (max-width:1440px)  {
  .project {
    max-width: 800px;
  }
  .project__img {
    height: 480px;
    width: 700px;
  }
}

@media screen and (max-width:768px)  {
  .project {
    max-width: 540px;
    margin: 2rem 35px;
  }
  .project__img {
    height: 280px;
    width: 500px;
  }
}

@media screen and (max-width:530px)  {
  .project {
    max-width: 440px;
    margin: 16px 20px;
  }
  .project__img {
    height: 230px;
    width: 400px;
  }
}

@media screen and (max-width:450px)  {
  .project {
    max-width: 340px;
    margin: 16px 15px;
  }
  .project__img {
    height: 180px;
    width: 300px;
  }
}
