.proyects {
  padding: 50px 0 50px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.proyects__tittle {
  font-size: 1.8em;
  font-weight: bold;
  margin: 80px 0 50px 0;
  text-transform: lowercase;
  text-align: center;
  color: var(--color-light-blue);
}

.proyects__tittle::before {
  content: '<';
  font-size: 1em;
  padding: 0 10px;
  color: var(--color-light-blue);
}

.proyects__tittle::after {
  content: '/>';
  font-size: 1em;
  padding: 0 10px;
  color: var(--color-light-blue);
}

.proyects__content {
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.proyect {
  margin: 80px 50px;
  max-width: 640px;
  min-height: auto;
  padding: 20px;
  z-index: 1;
  border-radius: var(--border-radius);
  background-color: var(--main-color-second);
  box-shadow: 0 0 10px var(--box-shadow-dark);
}

.project__img {
  height: 380px;
  width: 600px;
  object-fit: fill;
  opacity: .65;
  border-radius: var(--border-radius);
  transition: var(--transition-text);
}

.project__img:hover {
  opacity: .75;
  transform: scale(1.01);
}

.project__tittle {
  margin: 15px 0;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: lowercase;
  text-align: center;
  color: var(--color-light-blue);
}

.proyect__text {
  font-size: 1em;
  text-align: justify;
  color: var(--color-gray);
  padding-bottom: 10px;
}

.proyect__icons {
  display: flex;
  flex-direction: row;
}

.proyect__icons i {
  font-size: 1.2em;
  margin-right: 10px;
  color: var(--color-gray);
  transition: var(--transition-text);
}

.proyect__icons i:hover {
  color: var(--color-light-blue);
}
