.proyects {
  padding: 3.125rem 0 3.125rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.proyects__tittle {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 5rem 0 3.125rem 0;
  text-transform: lowercase;
  text-align: center;
  color: var(--color-light-blue);
}

.proyects__tittle::before {
  content: '<';
  font-size: 1.5rem;
  padding: 0 .625rem;
  color: var(--color-light-blue);
}

.proyects__tittle::after {
  content: '/>';
  font-size: 1.5rem;
  padding: 0 .625rem;
  color: var(--color-light-blue);
}

.proyects__content {
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.proyect {
  margin: 5rem 3.125rem;
  max-width: 40rem;
  min-height: auto;
  padding: 1.25rem;
  z-index: 1;
  border-radius: var(--border-radius);
  background-color: var(--main-color-second);
  box-shadow: 0 0 10px var(--box-shadow-dark);
}

.project__img {
  height: 23.75rem;
  width: 37.5rem;
  object-fit: fill;
  opacity: .7;
  border-radius: var(--border-radius);
  transition: var(--transition-text);
}

.project__img:hover {
  opacity: .8;
  transform: scale(1.01);
}

.project__tittle {
  margin: .9375rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: lowercase;
  text-align: center;
  color: var(--color-light-blue);
}

.proyect__text {
  font-size: 1rem;
  text-align: justify;
  color: var(--color-gray);
  padding-bottom: .625rem;
}

.proyect__icons {
  display: flex;
  flex-direction: row;
}

.proyect__icons i {
  font-size: 1.2rem;
  margin-right: .625rem;
  color: var(--color-gray);
  transition: var(--transition-text);
}

.proyect__icons i:hover {
  color: var(--color-light-blue);
}
