.skills {
  margin: auto;
  padding: 3.125rem 0 3.125rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.skills__tittle {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 3.125rem 0;
  text-transform: lowercase;
  color: var(--color-light-blue);
}

.skills__tittle::before {
  content: '<';
  font-size: 1.5rem;
  padding: 0 .625rem;
  color: var(--color-light-blue);
}

.skills__tittle::after {
  content: '/>';
  font-size: 1.5rem;
  padding: 0 .625rem;
  color: var(--color-light-blue);
}

.skills__content {
  margin: auto;
  padding: 2.5rem;
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill {
  min-width: 8.75rem;
  min-height: 8.75rem;
  padding: 1.25rem;
  margin: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: .9;
  background-color: var(--main-color-second);
  border-radius: var(--border-radius);
  transition: var(--transition-box);
}

.skill:hover {
  transform: scale(1.05);
}

.skill__tittle {
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--color-light-gray);
}

.skill i {
  font-size: 4rem;
  opacity: 1;
  color: var(--color-light-blue);
}

@keyframes i-animation {
  0% {
    text-shadow: 0 0 3px rgba(255, 255, 255, .50);
  }
  50% {
    text-shadow: 0 0 5px rgba(255, 255, 255, .50);
  }
  100% {
    text-shadow: 0 0 3px rgba(255, 255, 255, .50);
  }
}

.fa-brands.fa-js-square {
  color: #cabd0a;
}

.fa-brands.fa-css3-alt {
  color: #0f62d7;
}

.fa-brands.fa-html5 {
  color: #d35312;
}

.fa-brands.fa-bootstrap {
  color: #7e0acb;
}

.fa-brands.fa-java {
  color: #9fbac8;
}

.bx.bxl-spring-boot {
  color: #17b40c;
}

.fa-brands.fa-jenkins {
  color: #bbbbbb;
}

.fa-brands.fa-node-js {
  color: #17b40c;
}

.fa-brands.fa-python {
  color: #381ba1;
}

.fa-brands.fa-angular {
  color: #9b0c1f;
}

.fa-brands.fa-github {
  color: #a0a0a0;
}

.fa-brands.fa-docker {
  color: #2347c5;
}

.bx.bxl-jquery {
  color: #032ab5;
}

.bx.bxl-mongodb {
  color: #17bf0b;
}