.skills {
    margin: auto;
    padding: 0 auto;
    height: 400px;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills__tittle {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: var(--main-color-lightes);
}

.skills__content {
    display: flex;
    flex-wrap: wrap;
}

.skill__img {
    height: 200px;
    fill: blueviolet;
}