.wave {
  width: 100%;
  height: 400px;
  position: absolute;
  overflow: hidden;
  top: -150px;
}

.wave__fill {
  fill: var(--colot-light-blue);
}

.wave--footer {
  top: 620px;
}

.wave__particles {
  z-index: -99;
  height: 600px;
}

.wave__content {
  width: 100%;
  height: 100%;
}

.wave__content--rotate{
  transform: rotate(180deg);
  position: absolute;
  z-index: 99;
  top: 50px;
}

.wave__svg {
  width: 300%;
  height: 500px;
  position: absolute;
  top: 100px;
  transform: rotate(180deg);
  background-image: url(./../../img/svg/wave/wave.svg);
  background-color: #0000;
}

.wave__svg--animation {
  animation: wave-animation 7s linear infinite;
}

@keyframes wave-animation {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
